---
layout: page
title: Publications
---


<!--
<div>Key Publications</div>
<div>Peer-reviewed Publications</div>
<div>Theses</div>
<div>Online profiles</div>

<div class="ui divider"></div>
-->

<div class="publications-table">
    {% assign publications_sorted = site.publications  | sort: 'publication-date' | reverse %}
    {% for paper in publications_sorted %}
    <div class="publication-row">
    <span class="publication-sub-row">
        <div class="publication-title">
          {{ paper.title }}
        </div>
    </span>
    <span class="publication-sub-row">
        <div class="publication-authors">
            {{ paper.author }}
        </div>
    </span>
    <span class="publication-sub-row">
        <div class="publication-reference">
            {%if paper.journal %}
            <a class="publication-reference" href="https://dx.doi.org/{{paper.doi}}" target="_blank">
                <span class="publication-journal"> {{ paper.journal }} </span>
                <span class="publication-volume"> {{ paper.volume }} </span>
                <span class="publication-details"> no. {{ paper.number }}, {{paper.page}} ({{ paper.year }}) </span>
            </a>
            &ndash;
            {% endif %}
            {% if paper.arxiv-id %}
                <a class="publication-arxiv-link" href="https://arxiv.org/abs/{{paper.arxiv-id}}" target="_blank">arXiv:{{paper.arxiv-id}}</a>
                &ndash;
            {% endif %}
            {% if paper.handle-id %}
                <a class="publication-hanlde-link" href="http://hdl.handle.net/{{paper.hanlde-id}}" target="_blank">handle:{{paper.handle-id}}</a>
                &ndash;
            {% endif %}
            <a class="publication-pdf" href="publications/{{paper.pdf-filename}}" target="_blank"> 
                <i class="far fa-file-pdf"></i> pdf
            </a>
        </div>
    </span>
    </div>
    {% endfor %}
</div>

