---
layout: publications-list
title: Publications
---


<!--
<div>Key Publications</div>
<div>Peer-reviewed Publications</div>
<div>Theses</div>
<div>Code</div>
<div>External lists</div>


<div class="ui divider"></div>
-->


<div class="publications-table">
    {% assign publications_sorted = site.publications  | sort: 'publication-date' | reverse %}
    {% for paper in publications_sorted %}
    <div class="publication-row">
    <span class="publication-sub-row">
        <div class="publication-title">
            <a class="publication-title" href="{{paper.url}}">
                {{ paper.title }}
            </a>
        </div>
    </span>
    <span class="publication-sub-row">
        <div class="publication-authors">
            {{ paper.author }}
        </div>
    </span>
    <span class="publication-sub-row">
        <div class="publication-reference">
            {%if paper.journal %}
            {% for identifier in paper.identifiers %} {% if identifier.name=="doi" %}
            <a class="publication-reference" href="https://dx.doi.org/{{identifier.value}}" target="_blank">
                <span class="publication-journal"> {{ paper.journal }} </span>
                <span class="publication-volume"> {{ paper.volume }} </span>
                <span class="publication-details"> no. {{ paper.number }}, {{paper.page}} ({{ paper.year }}) </span>
            </a>
            &ndash;
            {% endif %} {% endfor %}
            {% endif %}
            {%if paper.type == "thesis" %}
            <a class="publication-reference" href="{{paper.thesis-url}}" target="_blank">
                <span class="thesis-reference"> {{ paper.thesis-reference }} </span>
            </a>
            &ndash;
            {% endif %}
            {% for identifier in paper.identifiers %} {% if identifier.name=="arXiv id" %}
                <a class="publication-arxiv-link" href="https://arxiv.org/abs/{{identifier.value}}" target="_blank">arXiv:{{identifier.value}}</a>
                &ndash;
            {% endif %} {% endfor %}
            {% for identifier in paper.identifiers %} {% if identifier.name == "handle" and paper.type != "thesis" %}
                <a class="publication-handle-link" href="http://hdl.handle.net/{{identifier.value}}" target="_blank">handle:{{identifier.value}}</a>
                &ndash;
            {% endif %} {% endfor %}
            <a class="publication-pdf" href="publications/{{paper.pdf-filename}}" target="_blank"> 
                <i class="far fa-file-pdf"></i> pdf
            </a>
        </div>
    </span>
    </div>
    {% endfor %}
</div>

