<footer>
    <div class="footer-wrapper">
        <div class="item" style="float: left;">
            &copy; Emilio Pisanty 2018
        </div>
        <div class="github-pages-link"">
            see this site's internals at <a href="https://github.com/episanty/episanty.github.io">github.com/episanty/episanty.github.io</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>