<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        {% if page.layout == "front" or page.layout != "front" %}
        <div class="head-area">
            <a class="item" href="/">
                <div class="head-title">
                    <h3 class="site-title">{{ site.title }}</h3>
                    <h3 class="site-description">{{ site.description }}</h3>
                </div>
            </a>
        </div>
        {% endif %}
        <nav class="site-nav">
            <div class="left-nav">
                <!-- add titles to all buttons -->
                <div class="ui secondary menu inverted">
                    <a class="item" href="/about">
                        About
                    </a>
                    <a class="item" href="/publications">
                        Publications
                    </a>
<!--
                    <a class="item" href="/gallery.html">
                        Gallery
                    </a>
                    <a class="item" href="/research.html">
                        Research
                    </a>
-->
                    
                    <!--Also: "blog", presentations. -->
                    
                    <div class="right menu">
                        <a class="item icon" href="https://physics.stackexchange.com/users/8563/emilio-pisanty" target="_blank">
                            <i class="stack exchange link icon"></i>
                        </a>
                        <a class="item icon" href="https://mathoverflow.net/users/20729/emilio-pisanty" target="_blank">
                            <i class="ai ai-mathoverflow"></i>
                        </a>
                        <a class="item icon" href="https://scholar.google.com/citations?user=R8xpggkAAAAJ" target="_blank">
                            <i class="ai ai-google-scholar"></i>
                        </a>
                        <a class="item icon" href="https://orcid.org/0000-0003-0598-8524" target="_blank">
                            <i class="ai ai-orcid"></i>
                        </a>
                        <a class="item icon" href="https://arxiv.org/search/advanced?advanced=&terms-0-operator=AND&terms-0-term=%22Emilio+Pisanty%22&terms-0-field=author&terms-1-operator=OR&terms-1-term=%22E+Pisanty%22&terms-1-field=author&order=-submitted_date" target="_blank">
                            <i class="ai ai-arxiv"></i>
                        </a>
                        <a class="item icon" href="http://www.researcherid.com/rid/P-4286-2018" target="_blank">
                            <i class="ai ai-researcherid"></i>
                        </a>
                        <a class="item icon" href="https://www.researchgate.net/profile/Emilio_Pisanty" target="_blank">
                            <i class="ai ai-researchgate"></i>
                        </a>
                        <a class="item icon" href="https://github.com/episanty" target="_blank">
                            <i class="github link icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-nav"></div>
        </nav>
    </header>
</div>