
    Import League Gothic <3
*/
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('leaguegothic-regular-webfont.woff') format('woff'),
    url('leaguegothic-regular-webfont.ttf') format('truetype'),
    url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

img, video, iframe {
    max-width: 100%;
}







/* header */

.site-nav {
    background-color: black;
}

.header-wrapper {
    max-height: 100%;
/*    background-color: red;*/
}

header {
    max-width: 60%;
    margin: 0 auto;
    background-color: white;
/*    background-image: url(/assets/img/bg.jpg);*/
/*    color: rgba(255, 255, 255, .75);*/
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.head-area {
    height: 110px;
    background-image: url(/assets/img/ellipses-pale.png); /*951×472*/
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: left center;
}

.head-title {
    padding-top: 25px;
    padding-left: 35px;
    color: black;
}
/*
.head-title {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 25px;
}
*/
/*
.head-title:before {
    content: "";
    display: inline-block;
    width: 33%;
    min-width: 200px;
}
*/

.site-logo {
    max-width: 15%;
    height: auto;
    margin: 0 auto;
}

.logo {
    width: 100%;
    margin-top: 20%;
}

.site-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 700;
}

.site-description {
    margin-top: 0px;
    font-size: 13px;
    font-weight: 400;
}

a.icon.item{
    font-size: 18px;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

div.right.menu {
    padding-right: 15px;
}


/* /header */







.page-wrap {
    min-height: 100%;
    margin-bottom: 1rem;
}

.page-wrap:after {
    content: "";
    display: block;
}






/* footer */

footer {
    color: hsl(120, 0%, 75%);
    height: 6rem;
    padding-top: 1rem;
}

.footer-wrapper { 
    max-width: 60%;
    margin: 0 auto;
}

.github-pages-link {
    float: right;
}
.github-pages-link a {
    color: inherit;
}
.github-pages-link a:hover {
    color: hsl(120, 0%, 65%);
}


.ui.transparent.icon.input {
    color: rgba(255, 255, 255, .75) !important;
}

.ui.transparent.icon.input input:focus {
    color: rgba(255, 255, 255, .75) !important;
}

/* /footer */







/* main */

main {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 1rem;
}

.ui.card {
    width: auto !important;
}

.ui.card image  {
    width: 100% !important;
    height: 200px !important;
}

.image {
    max-width: 500px;
    max-height: 300px;
    margin: 0 auto;
}

.small-date {
    color: rgba(0,0,0,.75);
    font-weight: lighter;   
}

.description {
    word-wrap: break-word;
}

.centered-column-container {
/*    align-content: center;*/
}
.container{
/*    max-width: 800px;*/
/*    align-content: center;*/
}

.floated{
    float: left;
    width: 150px;
    margin: 5px 20px 20px 20px;
}

/* /main */




/* post */

.post-container {
    font-family: "Open Sans", sans-serif;
}

.post-title {
    text-align: left;
}

/* /post */



/* publications */

.publication-row {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
}

.publication-row:hover {
    background-color: #EEEEEE;
}

.publication-row:hover .author-me { text-decoration: underline; }

.publication-title {
    font-weight: 300;
}
.publication-journal {
    font-style: italic;
}
.publication-volume {
    font-weight: 600;
}
.publication-authors {
    color: rgba(0,0,0,.5);
}


.publication-details-table { 
    display: table;
    padding-top: 20px;
    width: 100%;
}
.publication-details-row { 
    display: table-row; 
}
.publications-details-cell { 
    display: table-cell; 
}
.publications-details-cell.key {
    text-align: right;
    padding: 2px 15px 2px 5px; /*trbl*/
    font-weight: 600;
}

div.publication-details-table a { 
    color: black;
}
div.publication-details-table a:hover { 
    color: #4183c4;
}

a.publication-details-title {
    font-weight: 600;
    font-size: 15px;
}


.publication-details-row:hover {
    background-color: #EEEEEE;
}
.publication-details-row:hover .author-me { text-decoration: underline; }



/* /publications */








