---
layout: default
---

<!--
To do:
 - Thumbnails
 - by-year dividers
 - supplementary information where available
-->

<div class="publication-details-table">
    <div class="publication-details-row" id="publication-title">
        <div class="publications-details-cell key">
            title:
        </div>
        <div class="publications-details-cell value">
            <a class="publication-details-title" href="{{page.url}}"> 
                {{page.title}}
            </a>
        </div>
    </div>
    <div class="publication-details-row" id="publication-authors">
        <div class="publications-details-cell key">
            authors:
        </div>
        <div class="publications-details-cell value">
            {{page.author}}
        </div>
    </div>
    {% if page.thesis-advisor %}
    <div class="publication-details-row" id="publication-date">
        <div class="publications-details-cell key">
            advisor:
        </div>
        <div class="publications-details-cell value">
            {{page.thesis-advisor}}
        </div>
    </div>
    {% endif %}
    {%if page.journal %}
    <div class="publication-details-row" id="publication-reference">
        <div class="publications-details-cell key">
            reference:
        </div>
        <div class="publications-details-cell value">
            {% for identifier in page.identifiers %} {% if identifier.name=="doi" %}
            <a class="publication-reference" href="https://dx.doi.org/{{identifier.value}}" target="_blank">
                <span class="publication-journal"> {{ page.journal }} </span>
                <span class="publication-volume"> {{ page.volume }} </span>
                <span class="publication-details"> no. {{ page.number }}, {{page.page}} ({{ page.year }}) </span>
            </a>
            {% endif %} {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if page.publication-date %}
    <div class="publication-details-row" id="publication-date">
        <div class="publications-details-cell key">
            publication date:
        </div>
        <div class="publications-details-cell value">
            {{page.publication-date}}
        </div>
    </div>
    {% endif %}
    {% for identifier in page.identifiers %}
    <div class="publication-details-row" id="publication-reference">
        <div class="publications-details-cell key">
            {{ identifier.name }}:
        </div>
        <div class="publications-details-cell value">
            <a href="{{identifier.url-prefix}}{{identifier.value}}" target="_blank">{{identifier.text-prefix}}{{identifier.value}}</a>
        </div>
    </div>
    {% endfor %}
    <div class="publication-details-row" id="publication-title">
        <div class="publications-details-cell key">
            pdf:
        </div>
        <div class="publications-details-cell value">
            <a href="/publications/{{page.pdf-filename}}" target="_blank"> 
                {{page.pdf-filename}}
            </a>
        </div>
    </div>
    {%if page.abstract %}
    <div class="publication-details-row" id="publication-reference">
        <div class="publications-details-cell key">
            abstract:
        </div>
        <div class="publications-details-cell value abstract">
            {{ page.abstract }}
        </div>
    </div>
    {% endif %}
    {%if page.license %}
    <div class="publication-details-row" id="publication-reference">
        <div class="publications-details-cell key license">
            license:
        </div>
        <div class="publications-details-cell value license">
            <a href="https://creativecommons.org/licenses/{{ page.license | remove: 'cc-' }}/4.0/" target="_blank">
                <img src="/assets/img/cc/{{ page.license }}.png" />
            </a>
        </div>
    </div>
    {% endif %}
    {%if page.copyright %}
    <div class="publication-details-row" id="publication-reference">
        <div class="publications-details-cell key license">
        </div>
        <div class="publications-details-cell value license">
            {{page.copyright}}
        </div>
    </div>
    {% endif %}
    
    
</div>


