---
layout: default
---

<div class="post-container">
    <h1 class="post-title">{{ page.title }}</h1>
<!--    <div class="ui divider submenu-top"></div>-->
    <div class="publications-header-table">
        <div class="publications-header-row">
            <div class="publications-header-cell">
                Key publications
            </div>
            <div class="publications-header-cell">
                All publications
            </div>
            <div class="publications-header-cell">
                Theses
            </div>
            <div class="publications-header-cell">
                Code
            </div>
        </div>
    </div>
<!--    <div class="ui divider submenu-bottom"></div>-->
    
<!--
    eh
    <div class="ui divider"></div>
-->
    
    {{ content }}
    <br/>
</div>